<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>entries</title><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Hello, <small>{{username}}</small></h1>
        <form action="/logout" method="post">
            <button class="btn btn-danger btn-sm" type="submit">logout</button>
        </form>
    </div>

    <h2>want to create a <a href="/create-entry">post?</a></h2>
    <div class="list-group">
    <h3>blog posts:</h3>
    {{#entries}}
        <p><a href="/entry-detail/{{id}}" class="list-group-item">{{title}}</a>{{shortDescription}}</p>
    {{/entries}}
    </div>
</div>
</body>
</html>